/* Empty. Add your own CSS if you like */

.appTitle{
    padding: 20px 0;
}
.appTitle h1{
    text-align: center;
    font-weight: normal;
    font-size: 2em;
}

.home-page-slider{
    padding: 20px 0;
}

ul[rn-carousel] {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    overflow: visible!important;
}

.full-image{padding: 5px;}
.card-1 .full-image{padding: 0;}

.user-action{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

.user-action li{
    list-style: none;
    float: left;
    width: 33%;
}

.main-logo{
    text-align: center;
    padding: 21px;
}